version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: changethisinprod!
    ports:
      - "5434:5432"
  
  redis:
    image: redis:7
    ports:
      - "6380:6379"